<div class="container-fluid expand">
  <div class="row">
    <div class="col-md-6">
      <form class="k-form align-content-center">
        <fieldset>
          <legend>Book Details</legend>
          <label class="k-form-field">
            <span>ISBN</span>
            <input class="k-textbox" name="isbn" [disabled]="true" placeholder="ISBN" [(ngModel)]="isbn"/>
          </label>
          <label class="k-form-field">
            <span>Book Name</span>
            <input class="k-textbox" name="bookName" [disabled]="true" placeholder="Book Name" [(ngModel)]="bookName"/>
          </label>
          <label class="k-form-field">
            <span>Return Date</span>
            <input class="k-textbox"  name="returnDate"[disabled]="true" placeholder="Return Date" [(ngModel)]="returnDate"/>
          </label>
          <label class="k-form-field">
            <span>Fine</span>
            <input class="k-textbox" name="fine" [disabled]="true" placeholder="Fine" [ngModel]="fine"/>
          </label>
        </fieldset>
      </form>
    </div>
    <div class="col-md-6">
      <form class="k-form align-content-center">
        <fieldset>
          <legend>Borrower Details</legend>
          <label class="k-form-field">
            <span>Library ID</span>
            <input class="k-textbox" name="libraryid" [disabled]="true" placeholder="libraryId" [(ngModel)]="libraryId" />
          </label>
          <label class="k-form-field">
            <div class="row">
              <div class="col-md-6">
                <span>Name</span>
                <input class="k-textbox" name="name" [disabled]="true" placeholder="Name" [(ngModel)]="firstName"/>
              </div>
            </div>
          </label>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<kendo-dialog-actions>
  <button kendoButton (click)="return()" primary="true">Return</button>
</kendo-dialog-actions>
