﻿<div class="container-fluid expand">
<div class="row">
  <div class="col-md-6">
    <form class="k-form align-content-center">
      <fieldset>
        <legend>Book Details</legend>
        <label class="k-form-field">
          <span>ISBN</span>
          <input name="isbn" class="k-textbox" [disabled]="true" placeholder="ISBN" [(ngModel)]="isbn"/>
        </label>
        <label class="k-form-field">
          <span>Title</span>
          <input name="title" class="k-textbox" [disabled]="true" placeholder="Title" [(ngModel)]="title"/>
        </label>
      </fieldset>
    </form>
  </div>
  <div class="col-md-6">
    <form class="k-form align-content-center">
    <fieldset>
      <legend>Borrower Details</legend>
      <label class="k-form-field">
        <span>Library ID</span>
        <kendo-autocomplete name="libraryid" [data]="readers" [valueField]="'_id'" [value]="libraryId">
        </kendo-autocomplete>
      </label>
      <label class="k-form-field">
        <div class="row">
          <div class="col-md-6">
            <span>Name</span>

            <kendo-autocomplete name="libraryname" [data]="readers" [valueField]="'name'" [value]="name">
            </kendo-autocomplete>
          </div>
          <div class="col-md-6">
            <span>Mobile No</span>
            <input name="number" class="k-textbox" [disabled]="true" placeholder="mobile number" [(ngModel)]="number"/>
          </div>
        </div>
      </label>
      <label class="k-form-field">
        <span>Return Date</span>
        <kendo-datepicker
          [(value)]="returnDate"
        ></kendo-datepicker>
      </label>
    </fieldset>
    </form>
  </div>
</div>
</div>
<kendo-dialog-actions>
  <button kendoButton (click)="close('no')">No</button>
  <button kendoButton (click)="close('yes')" primary="true">Yes</button>
</kendo-dialog-actions>
