/* Common */
/* Open - Font Icons */
@font-face {
  font-family: 'WestminsterLibrary';
  src: url('../Fonts/WestminsterLibrary.eot?lutpg');
  src: url('../Fonts/WestminsterLibrary.eot?lutpg#iefix') format('embedded-opentype'), url('../Fonts/WestminsterLibrary.ttf?lutpg') format('truetype'), url('../Fonts/WestminsterLibrary.woff?lutpg') format('woff'), url('../Fonts/WestminsterLibrary.svg?lutpg#CommissionWorksheet') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'WestminsterLibrary' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-rules-rates:before {
  content: "\e900";
}
.icon-commission-worksheet:before {
  content: "\e901";
}
.icon-overhead-calculation:before {
  content: "\e902";
}
.icon-prime-rates:before {
  content: "\e903";
}
/* Close - Font Icons */
body,
html {
  font-family: 'roboto', sans-serif;
  color: #555555 !important;
  font-size: 0.95rem;
  height: 100%;
  padding-bottom: 15px;
}
/* Open - Overrides */
.navbar .menu {
  float: left;
}
.navbar .menu ul {
  margin: 0;
  padding: 0;
}
.navbar .menu ul li {
  display: inline-block;
}
.navbar .brand {
  display: inline-block;
}
.navbar .user-info {
  float: right;
  margin: 5px 0 0 0;
}
.navbar .user-info div {
  display: inline-block;
}
.navbar .user-info div.name {
  font-size: 0.8rem;
  font-weight: bold;
}
.navbar-white {
  background: #ffffff;
}
.navbar-dark {
  background: #313236;
}
.k-autocomplete,
.k-combobox,
.k-dateinput,
.k-datepicker,
.k-datetimepicker,
.k-dropdown,
.k-maskedtextbox,
.k-multiselect,
.k-numerictextbox,
.k-timepicker,
.k-input.k-textbox,
.k-textarea,
.k-textbox {
  width: 100% !important;
}
.row + .row {
  margin-top: 5px;
}
.k-tabstrip .k-item {
  color: #FFB973 !important;
}
.k-tabstrip .k-item.k-state-active {
  color: #313236 !important;
}
.k-tabstrip > .k-content.k-state-active {
  padding: 15px;
}
.k-block,
.k-widget {
  font-size: 0.95rem !important;
}
.main-navbar ul li:first-child {
  padding-left: 0 !important;
}
.k-calendar .k-state-selected,
.k-calendar .k-weekend.k-state-selected,
.k-drag-clue,
.k-event,
.k-panelbar .k-group > .k-item > .k-link.k-state-selected,
.k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-active),
.k-panelbar > .k-item > .k-link.k-state-selected:not(.k-state-expanded),
.k-treeview .k-in.k-state-selected {
  background: #313236 !important;
  color: #ffffff !important;
  border-color: #313236 !important;
}
.k-calendar .k-content .k-today {
  color: #13A3F7 !important;
}
.k-calendar-header .k-today {
  color: #13A3F7 !important;
}
.k-input::selection,
.k-textarea::selection,
.k-textbox::selection {
  background-color: #13A3F7 !important;
}
.k-list-optionlabel:hover.k-state-selected,
.k-list .k-item.k-state-hover.k-state-selected,
.k-list .k-item:hover.k-state-selected {
  background: #313236 !important;
}
.k-list-container .k-button.k-state-hover,
.k-list-container .k-button:hover,
.k-list-optionlabel:hover,
.k-list .k-item.k-state-hover,
.k-list .k-item:hover,
.k-menu-group .k-item.k-state-hover,
.k-menu.k-context-menu .k-item.k-state-hover,
.k-spreadsheet-filter-menu > .k-menu .k-item.k-state-hover,
.k-spreadsheet-popup .k-button.k-state-hover,
.k-spreadsheet-popup .k-button:hover {
  background-color: #EAF7FF !important;
}
.k-state-selected {
  color: #ffffff !important;
}
.k-widget.k-window {
  -webkit-box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.5);
}
.btn {
  font-size: 0.95rem !important;
}
.btn.btn-primary {
  background-color: #13A3F7 !important;
  border-color: #13A3F7 !important;
  border-radius: 2px !important;
}
.k-grid td,
.k-grid th {
  padding: 4px 8px !important;
  font-size: 0.95rem;
}
.k-popup {
  font-size: 0.95rem !important;
}
.k-button {
  font-size: 0.95rem !important;
}
.k-input.k-textbox,
.k-textarea,
.k-textbox {
  font-size: 0.95rem !important;
  padding: 0 4px;
}
.k-input.k-textbox,
.k-textbox {
  height: calc(1.42857em + 5px) !important;
  border-radius: 0 !important;
}
.k-dateinput-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-multiselect-wrap .k-input,
.k-numeric-wrap .k-input,
.k-picker-wrap .k-input {
  height: calc(8px + 1.05rem) !important;
}
.k-multiselect-wrap {
  min-height: calc(8px + 1.05rem) !important;
}
.main-banner .k-multiselect {
  border-radius: 0 !important;
}
.main-banner .k-dateinput-wrap,
.main-banner .k-dropdown-wrap,
.main-banner .k-multiselect-wrap,
.main-banner .k-numeric-wrap,
.main-banner .k-picker-wrap {
  border-radius: 0 !important;
  border-width: 0 !important;
}
.main-banner input[type=text] {
  border-width: 0 !important;
  height: 22px !important;
  padding: 0 4px;
}
.k-animation-container {
  z-index: 999 !important;
}
.k-multiselect-wrap .k-button {
  min-height: 0 !important;
  padding: 0 4px !important;
  margin: 2px 0 0 2px !important;
}
.k-multiselect .k-clear-value {
  top: 1px !important;
}
/* Close - Overrides */
/* Open - Common */
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.margin-0 {
  margin: 0 !important;
}
.padding-0 {
  padding: 0 !important;
}
.padding-right-0 {
  padding-right: 0 !important;
}
.paading-left-0 {
  padding-left: 0 !important;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.font-bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-scroll-x {
  overflow-x: scroll;
}
.overflow-scroll-y {
  overflow-y: scroll;
}
.overflow-auto {
  overflow: auto;
}
.overflow-auto-x {
  overflow-x: auto;
}
.overflow-auto-y {
  overflow-y: auto;
}
.expand {
  margin-left: -15px;
  margin-right: -15px;
}
.flex-container {
  height: calc(100% - 40px);
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.container-body {
  min-height: calc(100% - 68px);
  margin-bottom: 0 !important;
  display: block;
}
.container-body > ng-component {
  width: 100%;
}
.flex-wrapper {
  display: inline-block;
  width: 100%;
}
.content-wrapper {
  padding: 20px 0;
  display: -webkit-box;
}
.content-wrapper label {
  color: #ffffff;
  margin: 4px 0 0 0;
}
.left-btn-align .k-button {
  margin-right: 5px;
}
.right-btn-align .k-button {
  margin-left: 5px;
}
button.k-button[ng-reflect-look=primary] {
  background: #13A3F7 !important;
  color: #ffffff !important;
}
.k-dialog-titlebar {
  background-color: #707070 !important;
}
.k-dialog .k-dialog-titlebar {
  background-color: #313236 !important;
}
.k-dialog-buttongroup .k-primary {
  color: #707070 !important;
}
.k-dialog-buttongroup .k-primary {
  color: #313236 !important;
}
.k-action-buttons .k-primary.k-state-hvoer,
.k-action-buttons .k-primary:hover,
.k-button.k-primary.k-flat.k-state-hover,
.k-button.k-primary.k-flat:hover,
.k-button.k-primary.k-state-hover,
.k-button.k-primary:hover,
.k-dialog-buttongroup .k-primary.k-state-hvoer,
.k-dialog-buttongroup .k-primary:hover,
.k-slider .k-draghandle:hover,
.k-switch-on:hover .k-switch-handle {
  background-color: #313236 !important;
  background-image: none !important;
  color: #ffffff !important;
}
.k-state-selected {
  background-color: #313236 !important;
}
.k-checkbox:checked + .k-checkbox-label:before {
  background-color: #313236 !important;
  border-color: #313236 !important;
}
.unbold {
  font-weight: normal !important;
}
.sub-header {
  border-bottom: 1px solid #FFB973;
  width: 100%;
  padding-bottom: 5px;
  font-weight: bold;
}
.sub-second-level-header {
  width: 100%;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: italic;
  color: #FFB973;
}
.spacer {
  width: 100%;
  height: 24px;
  display: block;
}
.k-grid td,
.k-grid th {
  padding: 4px 8px !important;
  font-size: 0.95rem;
}
/* Close - Common */
/* Open - Page Specific */
.main-banner {
  background: #313236;
  text-align: center;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFB973;
}
.main-banner label {
  float: left;
  text-align: left;
  font-size: 0.95rem;
}
.main-banner .header {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.2rem;
  display: inline-block;
  font-weight: bold;
  float: left;
}
.main-banner .k-button.k-outline {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}
.main-banner .k-button.k-outline:hover {
  background: #ffffff !important;
  color: #313236 !important;
}
.main-banner .main-menu {
  margin: 80px 0;
  display: inline-block;
}
.main-banner .main-menu .main-icon {
  display: block;
  font-size: 4rem;
  margin-bottom: 10px;
}
.main-banner .main-menu .main-text {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
}
.main-banner .main-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-banner .main-menu ul li {
  display: inline-block;
  margin: 0 20px 0 0;
}
.main-banner .main-menu ul li:last-child {
  margin-right: 0;
}
.main-banner .main-menu ul li a {
  font-size: 2rem;
  padding: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: block;
}
.main-banner .main-menu ul li a:hover {
  background: #ffffff;
  color: #313236;
  text-decoration: none;
}
.main-img {
  height: 60px;
  margin-bottom: 10px;
}
.main-img img {
  width: auto;
  height: 100%;
}
.main-banner-light {
  background: #d0d0d0;
  text-align: center;
}
.main-banner-light label {
  float: left;
  text-align: left;
  font-size: 0.8rem;
  color: #656565 !important;
}
.main-banner-light .header {
  text-transform: uppercase;
  color: #656565 !important;
  font-size: 1.2rem;
  display: inline-block;
  font-weight: bold;
  float: left;
}
.main-banner-light .k-button.k-outline {
  border: 1px solid #656565 !important;
}
.main-banner-light .k-button.k-outline:hover {
  background: #ffffff !important;
  color: #656565 !important;
}
.main-navbar {
  height: 60px;
}
.main-navbar ul li {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 12px 13px;
}
.main-navbar ul li a {
  padding: 5px 2px;
  border-bottom: 2px solid #ffffff;
}
.main-navbar ul li a:hover {
  cursor: pointer;
  border-bottom: 2px solid #313236;
}
.mid-banner {
  background: #555555;
  text-align: center;
}
.mid-banner .main-menu {
  margin: 28px 0;
  display: inline-block;
}
.mid-banner .main-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mid-banner .main-menu ul li {
  display: inline-block;
  margin: 0 20px 0 0;
}
.mid-banner .main-menu ul li:last-child {
  margin-right: 0;
}
.mid-banner .main-menu ul li a {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.mid-banner .main-menu ul li a:hover {
  background: #ffffff;
  color: #555555;
  text-decoration: none;
}
.last-banner {
  text-align: center;
  background: #777777;
}
.last-banner .main-menu {
  margin: 15px 0;
  display: inline-block;
}
.last-banner .main-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.last-banner .main-menu ul li {
  display: inline-block;
  margin: 0 20px 0 0;
}
.last-banner .main-menu ul li:last-child {
  margin-right: 0;
  border-right: 0;
}
.last-banner .main-menu ul li a {
  font-size: 0.98rem;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
}
.last-banner .main-menu ul li a:hover {
  background: #ffffff;
  color: #555555;
  text-decoration: none;
}
.minus-top-margin {
  margin-top: -18px;
}
.cusTooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.cusTooltip i {
  position: absolute;
  top: -18px;
  right: -63px;
  color: #0f8a20;
  font-size: 1.2em;
}
.cusTooltip.alertColour i {
  color: #be2020;
}
/* Tooltip text */
.cusTooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  max-width: 300px;
  padding: 2px 5px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 1px;
  margin-right: -40px;
  /* Position the tooltip text - see examples below! */
  position: fixed;
  z-index: 9999999;
}
/* Show the tooltip text when you mouse over the tooltip container */
.cusTooltip:hover .tooltiptext {
  visibility: visible;
}
.themse-selector div {
  display: inline-block;
  float: right;
  margin-top: 15px;
}
.themse-selector div.label {
  font-size: 0.8rem;
  color: #313236;
}
.themse-selector div.label label {
  margin-top: 7px;
  margin-right: 7px;
}
.themse-selector div.selector {
  width: 120px;
}
.themse-selector .settigs {
  margin-left: 10px;
}
.themse-selector .settigs button {
  height: 28px;
}
/* Close - Page Specific */
.themeButtons {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px 0 0 10px;
}
.themeButtons.default {
  background: #313236;
}
.themeButtons.blue {
  background: #195A81;
}
.themeButtons.azure {
  background: #216793;
}
.themeButtons.amber {
  background: #BF8423;
}
.themeButtons.amethyst {
  background: #6A527D;
}
.themeButtons.turquoise {
  background: #3C7C73;
}
.themeButtons.green {
  background: #4D7C30;
}
/*Loading*/
.mingle-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.busy-indicator-container {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  z-index: 1010;
  margin: 0 auto;
}
.busy-indicator-container.is-hidden {
  opacity: 0;
  filter: alpha(opacity=0);
}
.busy-indicator-container.blocked-ui {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 45%;
}
.busy-indicator-container span {
  font-size: 16px;
  font-size: 1.2rem;
  color: #368ac0;
  display: block;
  margin-top: -10px;
}
.busy-indicator {
  opacity: 1;
  filter: alpha(opacity=100);
  display: inline-block;
  height: 4.5em;
  margin: 0.8em;
  position: relative;
  vertical-align: middle;
  width: 5.2em;
}
.busy-indicator.is-hidden {
  opacity: 0;
  filter: alpha(opacity=0);
}
.busy-indicator .bar {
  background-color: #368ac0;
  display: inline-block;
  height: 4em;
  margin-right: 0.1em;
  width: 0.4em;
}
.busy-indicator .bar:last-child {
  margin-right: 0;
}
.busy-indicator:not(.is-hidden) > .bar {
  -webkit-animation: stretchdelay 0.8s infinite ease-in-out;
  -moz-animation: stretchdelay 0.8s infinite ease-in-out;
  -o-animation: stretchdelay 0.8s infinite ease-in-out;
  -ms-animation: stretchdelay 0.8s infinite ease-in-out;
  animation: stretchdelay 0.8s infinite ease-in-out;
}
.busy-indicator:not(.is-hidden) > .bar.one {
  -webkit-animation-delay: -0.5s;
  -moz-animation-delay: -0.5s;
  -o-animation-delay: -0.5s;
  -ms-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.busy-indicator:not(.is-hidden) > .bar.two {
  -webkit-animation-delay: -0.4s;
  -moz-animation-delay: -0.4s;
  -o-animation-delay: -0.4s;
  -ms-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.busy-indicator:not(.is-hidden) > .bar.three {
  -webkit-animation-delay: -0.3s;
  -moz-animation-delay: -0.3s;
  -o-animation-delay: -0.3s;
  -ms-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.busy-indicator:not(.is-hidden) > .bar.four {
  -webkit-animation-delay: -0.2s;
  -moz-animation-delay: -0.2s;
  -o-animation-delay: -0.2s;
  -ms-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.busy-indicator:not(.is-hidden) > .bar.five {
  -webkit-animation-delay: -0.1s;
  -moz-animation-delay: -0.1s;
  -o-animation-delay: -0.1s;
  -ms-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.busy.overlay {
  opacity: 0.75;
  filter: alpha(opacity=75);
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  background-color: #f0f0f0;
  position: absolute;
  visibility: visible;
}
@-webkit-keyframes stretchdelay {
  0%,
  70%,
  100% {
    -webkit-transform: scaleY(0.6);
    -moz-transform: scaleY(0.6);
    -o-transform: scaleY(0.6);
    -ms-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }
  35% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes stretchdelay {
  0%,
  70%,
  100% {
    -webkit-transform: scaleY(0.6);
    -moz-transform: scaleY(0.6);
    -o-transform: scaleY(0.6);
    -ms-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }
  35% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes stretchdelay {
  0%,
  70%,
  100% {
    -webkit-transform: scaleY(0.6);
    -moz-transform: scaleY(0.6);
    -o-transform: scaleY(0.6);
    -ms-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }
  35% {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
input + .busy-indicator-container,
.dropdown-wrapper > .busy-indicator-container {
  position: absolute;
}
input + .busy-indicator-container + .busy.overlay,
.dropdown-wrapper > .busy-indicator-container + .busy.overlay {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
input + .busy-indicator-container + .busy.overlay.is-hidden,
.dropdown-wrapper > .busy-indicator-container + .busy.overlay.is-hidden {
  opacity: 0;
  filter: alpha(opacity=0);
}
input + .busy-indicator-container .busy-indicator,
.dropdown-wrapper > .busy-indicator-container .busy-indicator {
  background-color: #f0f0f0;
  height: 22px;
  margin: 8px 5px 1px;
  position: absolute;
  right: 0;
  width: 40px;
}
input + .busy-indicator-container .busy-indicator .bar,
.dropdown-wrapper > .busy-indicator-container .busy-indicator .bar {
  height: 1.8em;
  margin-right: 0.3em;
  width: 0.3em;
}
input + .busy-indicator-container .busy-indicator .bar:last-child,
.dropdown-wrapper > .busy-indicator-container .busy-indicator .bar:last-child {
  margin-right: 0;
}
.inline + .busy-indicator-container .busy-indicator,
.inline .dropdown-wrapper > .busy-indicator-container .busy-indicator {
  background-color: #f0f0f0;
  height: 22px;
  margin: 5px 1px 1px;
  position: absolute;
  right: 0;
  width: 40px;
}
.inline + .busy-indicator-container .busy-indicator .bar,
.inline .dropdown-wrapper > .busy-indicator-container .busy-indicator .bar {
  height: 2.4em;
  margin-right: 0.3em;
  width: 0.3em;
}
.inline + .busy-indicator-container .busy-indicator .bar:last-child,
.inline .dropdown-wrapper > .busy-indicator-container .busy-indicator .bar:last-child {
  margin-right: 0;
}
.ie9 .busy-indicator .bar {
  -ms-transform: scaleY(0.6);
  -ms-transform-origin: 50% 50%;
}
.ie9 .busy-indicator .bar.half {
  -ms-transform: scaleY(0.8);
}
.ie9 .busy-indicator .bar.full {
  -ms-transform: scaleY(1);
}
.is-firefox input + .busy-indicator-container,
.is-firefox .dropdown-wrapper > .busy-indicator-container {
  position: absolute;
}
.is-firefox input + .busy-indicator-container .busy-indicator,
.is-firefox .dropdown-wrapper > .busy-indicator-container .busy-indicator {
  margin: 7px 5px 1px;
}
.busy-xs {
  min-height: 20px;
  min-width: 20px;
}
.busy-xs .busy-indicator-container.blocked-ui {
  top: calc(50% - 8px);
}
.busy-xs .busy-indicator {
  height: inherit;
  margin: 2px;
  width: inherit;
}
.busy-xs .busy-indicator .bar {
  height: 1.2em;
  margin-right: 0.1em;
  width: 0.2em;
}
.busy-xs .busy-indicator .bar:last-child {
  margin-right: 0;
}
.busy-sm {
  min-height: 40px;
  min-width: 40px;
}
.busy-sm .busy-indicator-container.blocked-ui {
  top: calc(50% - 18px);
}
.busy-sm .busy-indicator {
  height: inherit;
  margin: 4px;
  width: inherit;
}
.busy-sm .busy-indicator .bar {
  height: 2.8em;
  margin-right: 0.3em;
  width: 0.3em;
}
.busy-sm .busy-indicator .bar:last-child {
  margin-right: 0;
}
html[dir='rtl'] .busy-indicator .bar {
  margin-left: 0.5em;
  margin-right: 0;
}
html[dir='rtl'] .busy-indicator .bar:last-child {
  margin-left: 0;
}
html[dir='rtl'] input + .busy-indicator-container .busy-indicator,
html[dir='rtl'] .dropdown-wrapper > .busy-indicator-container .busy-indicator {
  left: 0;
  right: auto;
}
html[dir='rtl'] input + .busy-indicator-container .busy-indicator .bar,
html[dir='rtl'] .dropdown-wrapper > .busy-indicator-container .busy-indicator .bar {
  margin-left: 0.3em;
  margin-right: 0;
}
html[dir='rtl'] input + .busy-indicator-container .busy-indicator .bar:last-child,
html[dir='rtl'] .dropdown-wrapper > .busy-indicator-container .busy-indicator .bar:last-child {
  margin-left: 0;
}
html[dir='rtl'] .busy-xs .busy-indicator .bar {
  margin-left: 0.1em;
  margin-right: 0;
}
html[dir='rtl'] .busy-xs .busy-indicator .bar:last-child {
  margin-left: 0;
}
.k-i-loading {
  position: absolute;
  z-index: 999;
  top: 27px;
  left: 16px;
  right: 33px;
  bottom: 17px;
  font-size: 64px;
  color: #368ac0;
  background-color: #fff;
}
html[dir='rtl'] .busy-sm .busy-indicator .bar {
  margin-left: 0.3em;
  margin-right: 0;
}
html[dir='rtl'] .busy-sm .busy-indicator .bar:last-child {
  margin-left: 0;
}
.vlidation-comparison .k-widget.k-dialog {
  height: 80% !important;
}
.changes-highlight-color {
  color: red;
}
.flow {
  display: flex;
  justify-content: center;
}
.flow.mid-row .flow-item {
  height: 6rem;
  flex-direction: row;
}
.flow .flow-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 15rem;
  height: 15rem;
  position: relative;
}
.flow .flow-item:nth-child(2) {
  width: 6rem;
  height: auto;
}
.flow .flow-item:nth-child(4) {
  width: 6rem;
  height: auto;
}
.flow .flow-item img {
  width: 100%;
  height: auto;
}
.flow .flow-item .default-fill {
  fill: #E5E7E7;
}
.flow .flow-item .default-fill.error {
  fill: red;
  animation: pulse ease-in 1s;
  animation-iteration-count: infinite;
  transform-origin: 0% 0%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: pulse ease-in 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 0% 0%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: pulse ease-in 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 0% 0%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: pulse ease-in 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 0% 0%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: pulse ease-in 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 0% 0%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/
}
.flow .flow-item .default-fill.success {
  fill: green;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.19;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.19;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.19;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.19;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.19;
  }
  100% {
    opacity: 1;
  }
}
.single-item-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  bottom: 24px;
}
.single-item-wrapper .single-item {
  display: inline-block;
  width: 2rem;
  height: auto;
  margin-right: 0.4rem;
}
.single-item-wrapper .single-item:last-child {
  margin-right: 0;
}
.single-item-wrapper .single-item .single-item-text {
  fill: #FFFFFF;
}
.flow-arrows {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 6rem;
}
.flow-arrows > div {
  display: block;
  width: 100%;
  height: auto;
}
.flow-arrows.vertical {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.flow-arrows.vertical .flow-arrow-wrapper .right-arrow .number-indicator {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: -14px;
}
.flow-arrows.vertical .flow-arrow-wrapper .left-arrow .number-indicator {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 42px;
}
.flow-arrow-wrapper {
  position: relative;
}
.flow-arrow-wrapper .number-indicator {
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}
.flow-arrow-wrapper .right-arrow .number-indicator {
  top: -10px;
}
.flow-arrow-wrapper .left-arrow .number-indicator {
  top: 38px;
}
.footer {
  height: 40px;
  padding: 10px 0;
  color: #ffffff;
}
.highlight-input {
  border: 1px solid red;
}
.seven-cols .col-md-1 {
  width: 14% !important;
  padding-left: 2px;
  padding-right: 2px;
}
.seven-cols .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.mandatory {
  height: 30px;
  padding-right: 4px;
  padding-top: 2px;
  position: relative;
  vertical-align: middle;
}
.mandatory-field:after {
  content: "*";
  color: red;
}
.new-label {
  font-size: 0.84rem;
}
.img-placeholder {
  height: 243px;
  width: 190px;
  background: url(../images/picture.svg) no-repeat center;
  background-size: 50% 50%;
  background-color: #eeeeee;
  margin: auto;
  border: 1px dashed #313236;
}
.img-placeholder img {
  visibility: hidden;
  width: 8px;
  height: 241px;
}
.img-placeholder img[src] {
  visibility: visible;
}
/* Cursor Pointer */
.handhover {
  cursor: pointer;
}
/* Import Page Specific Less */
