﻿<div class="container-fluid expand">
  <div class="row main-banner margin-bottom-10">
    <div class="content-wrapper">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-12">
            <div class="header">
              Dashboard
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid margin-top-10">﻿
  <div class="row">
    <div class="col-md-12">
      <kendo-grid [data]="gridData" [height]="360" [filter]="state.filter" [filterable]="true"
                  (dataStateChange)="dataStateChange($event)">
        <kendo-grid-column field="No" title="No" width="40" [filterable]="false">
          <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
            {{rowIndex + 1}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="isbn" title="ISBN">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
              [showOperators]="false"
              [column]="column"
              [filter]="filter">
            </kendo-grid-string-filter-cell>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="title" title="Title">
          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
            <kendo-grid-string-filter-cell
              [showOperators]="false"
              [column]="column"
              [filter]="filter">
            </kendo-grid-string-filter-cell>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="sector" title="Sector" [filterable]="false"></kendo-grid-column>
        <kendo-grid-column field="type" title="Type" [filterable]="false"></kendo-grid-column>
        <kendo-grid-column field="publisher" title="Publisher" [filterable]="false"></kendo-grid-column>
        <kendo-grid-column field="availableDate" title="Return Date" [filterable]="false"></kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button kendoButton [primary]="true" class="pull-right" (click)="excelexport.save()">Generate Report</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <kendo-excelexport [data]="gridData.data" [group]="group" fileName="report.xlsx" #excelexport>
        <kendo-excelexport-column field="isbn" title="ISBN">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="title" title="Title">
        </kendo-excelexport-column>
        <kendo-excelexport-column field="sector" title="Sector"></kendo-excelexport-column>
        <kendo-excelexport-column field="Status" title="Status"></kendo-excelexport-column>
        <kendo-excelexport-column field="publisher" title="Publisher"></kendo-excelexport-column>
        <kendo-excelexport-column field="availableDate" title="Return Date"></kendo-excelexport-column>
      </kendo-excelexport>
    </div>
  </div>
</div>
