<div class="flex-container">

  <div class="flex-wrapper">

    <div class="container-fluid expand">
      <div class="row main-banner" style="height: 75vh">
        <div class="row">
        <div class="col-md-12">
          <div class="main-menu">
            <ul>

              <li>
                <a href="#/lending">
                  <div class="main-icon icon-rules-rates"></div>
                  <div class="main-text">Lending Section</div>
                </a>
              </li>

              <li>
                <a href="#/management">
                  <div class="main-icon icon-overhead-calculation"></div>
                  <div class="main-text">Item Management</div>
                </a>
              </li>

              <li>
                <a href="#/dashboard">
                  <div class="main-icon icon-commission-worksheet"></div>
                  <div class="main-text">Dashboard</div>
                </a>
              </li>


            </ul>
          </div>
        </div>
        </div>
        <div class="row">
<div class="col-md-12">
  <div class="main-text text-white-50">Westminster Library Management System</div>
</div>
        </div>
      </div>
    </div>

  </div>

</div>
