/* You can add global styles to this file, and also import other style files */
@import "content/styles/style.css";
@import "content/styles/site-specfic.css";
@import "~@progress/kendo-theme-default/dist/all.css";
/*@import "content/styles/site.css";*/
@import "content/styles/theme.css";
/*@import "content/styles/style.min.css";*/
@import "content/styles/bootstrap.css";
/*@import "content/styles/bootstrap.min.css";*/
/*@import "content/styles/font.css";*/
/*@import "content/styles/fontawesome-all.min.css";*/
/*@import "~bootstrap/dist/css/bootstrap.css";*/
@import "~font-awesome/css/font-awesome.css";
